### NumPy 활용 문제

seed값을 고정 해 두어 랜덤 값이 고정이 되어 있으므로,  
만약 잘못된 값이 입력되었다면 처음부터 다시 shift + enter로 실행할 것

또는 각 문제별 임시 함수를 생성하여 다음 문제로 전달해도 ok

In [1]:
import numpy as np

np.random.seed(50) #random seed radom값이 항상 같은 값을 가지도록 설정

#### Q0. 배열 길이가 50인 랜덤(1 ~ 100) 배열을 만들고 출력
 1. 배열의 원소의 수 출력
 2. 배열 출력

In [2]:
arr0 = np.random.randint(1, 101, size=50)
len(arr0)
print(arr0)

[49 97 12 34 95  5 71 71 23  6  3 96 72 69 79 36 93 92 27 91  7 21 44 32
 50 86 42 65  7 20  3 80 31 36 27 61 67 77 97 68  3 11 52  1 94 94 95  1
 12 31]

#### Q1. 원소 중 27이상인 수 출력

In [3]:
arr0[arr0 >= 27]

array([49, 97, 34, 95, 71, 71, 96, 72, 69, 79, 36, 93, 92, 27, 91, 44, 32,
       50, 86, 42, 65, 80, 31, 36, 27, 61, 67, 77, 97, 68, 52, 94, 94, 95,
       31])

#### Q2. 배열의 형태를 10행 5열로 변경 후 출력 
 1. 배열의 원소의 총 원수의 수 출력
 2. 배열의 행의 수 출력
 3. 배열의 각 행의 원소 수 출력
 4. 배열 출력

In [4]:
arr1 = arr0.reshape(10,5)
np.size(arr1) #1
len(arr1) #2
arr1.shape[1] #3
print(arr1) #4

[[49 97 12 34 95]
 [ 5 71 71 23  6]
 [ 3 96 72 69 79]
 [36 93 92 27 91]
 [ 7 21 44 32 50]
 [86 42 65  7 20]
 [ 3 80 31 36 27]
 [61 67 77 97 68]
 [ 3 11 52  1 94]
 [94 95  1 12 31]]

#### Q3. 0 부터 짝수번째 행의 2번째 값부터 4번째 값까지 2로 나눈 값의 몫으로 변경 후 전체 출력

In [5]:
arr2 = arr1[[0,2,4,6,8],1:]
arr2 // 2

array([[48,  6, 17, 47],
       [48, 36, 34, 39],
       [10, 22, 16, 25],
       [40, 15, 18, 13],
       [ 5, 26,  0, 47]])

#### Q4. 원소 중 3과 8의 공배수 출력  
 1. 3의 배수 출력
 2. 8의 배수 출력
 3. 공배수 출력

In [6]:
arr1[(arr1 % 3 == 0) & (arr1 % 8 == 0)]

array([96, 72])

#### Q5. 합계 구하기 
 1. 전체 원소의 합 구하기
 2. 각 행(row)별 합 구하기
 3. 각 열(column)별 합 구하기

풀 수 있는 방법 1 - hint 1. 전치 사용하기  
풀 수 있는 방법 2 - hint 1. np.sum()의 인자 확인해보기

In [7]:
rows = arr1.shape[0]
columns = arr1.shape[1]
row_sum = []
column_sum = []

for i in range(0, rows, 1):
    value = np.sum(arr1[i, :])
    row_sum.append(value)

for j in range(0, columns, 1):
    values = np.sum(arr1[:, j])
    column_sum.append(values)

print(row_sum)
print(column_sum)

[287, 176, 319, 339, 154, 220, 177, 370, 161, 233]
[347, 673, 517, 338, 561]

#### Q6. 원소가 20이하인 경우 0으로 값을 변경 후 출력

In [8]:
arr1[arr1 <= 20] = 0
arr1

array([[49, 97,  0, 34, 95],
       [ 0, 71, 71, 23,  0],
       [ 0, 96, 72, 69, 79],
       [36, 93, 92, 27, 91],
       [ 0, 21, 44, 32, 50],
       [86, 42, 65,  0,  0],
       [ 0, 80, 31, 36, 27],
       [61, 67, 77, 97, 68],
       [ 0,  0, 52,  0, 94],
       [94, 95,  0,  0, 31]])

#### Q7. 각 행의 0번 열이 50을 초과하는 경우 그 행이 몇 번째 행인지, 행의 원소들이 무엇인지 출력

In [9]:
for i in range(0, rows, 1):
    if arr1[i, 0] >= 50:
        print(f"{i}행, {arr1[i, 0]}")

5행, 86
7행, 61
9행, 94

#### Q8. 각 행의 두번째 값이 0을 포함한 짝수인 경우 그 행의 3번째 이후의 값을 1이상 20 이하의 수로 변경 후 출력

In [10]:
lists = []

for i in range(0, rows, 1):
    if arr1[i, 1] % 2 == 0:
        lists = arr1[i, 2:]
        for j in range(0, len(lists), 1):
            if lists[j] > 20:
                lists[j] = np.random.randint(1,20)
        print(f"{i}행, {lists}")

2행, [ 8 15 14]
5행, [8 0 0]
6행, [5 5 1]
8행, [12  0  1]

### 단위 행렬

In [11]:
# 단위행렬 생성 (예시 3x3의 단위 행렬)
eye5 = np.eye(3)
print(eye5)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Q9. 7*7 단위 행렬을 생성(arr1)하고, 행렬을 뒤집어서 저장(arr2) 및 출력
  
아래 힌트보다 여러 종류의 풀이가 가능합니다  
hint 1. index/slicing의 step값을 생각해보기

In [16]:
eye1 = np.eye(7)
eye2 = np.eye(7)

for i in range(0, eye1.shape[0], 1):
    for j in range(0, eye1.shape[1], 1):
        j2 = 6-j
        i2 = 6-i
        eye2[i,j] = eye1[i2, j2]
        
print(eye1)
print(eye2)

[[1. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 1.]]
[[1. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0. 1.]]

#### Q10. eye1의 각 행의 1의 위치가 짝수인 경우 1의 값을 랜덤(100>= x >=200)으로 변경하고, 홀수인 경우 99로 출력(저장 x)
hint 1. np.where(condition) # condition: 조건

In [13]:
eye1_ = eye1

for i in range(0, len(eye1), 1):
    if eye1[i, 1] % 2 == 0:
        eye1_[i, 1] = np.random.randint(100,200)
    else:
        eye1_[i, 1] = 99

print(eye1_)

[[  1. 119.   0.   0.   0.   0.   0.]
 [  0.  99.   0.   0.   0.   0.   0.]
 [  0. 158.   1.   0.   0.   0.   0.]
 [  0. 145.   0.   1.   0.   0.   0.]
 [  0. 183.   0.   0.   1.   0.   0.]
 [  0. 101.   0.   0.   0.   1.   0.]
 [  0. 161.   0.   0.   0.   0.   1.]]

#### Q11. eye1과 eye2의 각 원소값을 'or'연산하여 출력 (boolean 자료형)

In [17]:
result = (eye1 != 0) | (eye2 != 0)
print(result)

[[ True False False False False False False]
 [False  True False False False False False]
 [False False  True False False False False]
 [False False False  True False False False]
 [False False False False  True False False]
 [False False False False False  True False]
 [False False False False False False  True]]

In [15]:
#####참고용#####
eye1 = np.arange(1,50)
eye1 = eye1.reshape(7,7)
print(eye1)

eye2 = np.eye(7)
for i in range(0, eye1.shape[0], 1):
    for j in range(0, eye1.shape[1], 1):
        j2 = 6-j
        i2 = 6-i
        eye2[i,j] = eye1[i2, j2]

print(eye2)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]
 [15 16 17 18 19 20 21]
 [22 23 24 25 26 27 28]
 [29 30 31 32 33 34 35]
 [36 37 38 39 40 41 42]
 [43 44 45 46 47 48 49]]
[[49. 48. 47. 46. 45. 44. 43.]
 [42. 41. 40. 39. 38. 37. 36.]
 [35. 34. 33. 32. 31. 30. 29.]
 [28. 27. 26. 25. 24. 23. 22.]
 [21. 20. 19. 18. 17. 16. 15.]
 [14. 13. 12. 11. 10.  9.  8.]
 [ 7.  6.  5.  4.  3.  2.  1.]]