In [1]:
import numpy as np

In [3]:
arr_a = np.arange(12)
print(arr_a)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [6]:
arr_b = arr_a.reshape(3,4)
print(arr_b)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [5]:
arr_a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [12]:
arr1 = np.array([[1,2,3],[4,5,6]])
#array의 인덱스 번호만 이용해서
#[1,2,3] 출력
a = arr1[0]
#2만 출력
b = arr1[0][1]
#arr1의 0번방에 1을 대입
print('변경전\n', arr1)
arr1[0] = 1
print('변경후\n', arr1)

변경전
 [[1 2 3]
 [4 5 6]]
변경후
 [[1 1 1]
 [4 5 6]]

In [8]:
print(a,b)

[1 2 3] 2

In [16]:
arr2 = np.arange(9).reshape(3,3)
print(arr2)
print('인덱싱', arr2[0]) #해당하는 요소를 갖고옴
print('슬라이싱', arr2[:1]) #요소들을 배열의 형태로 갖고옴
#슬라이싱으로 3,4,5 출력
print(arr2[1:2])
#슬라이싱으로 7,8 출력
print(arr2[2][1:3])

[[0 1 2]
 [3 4 5]
 [6 7 8]]
인덱싱 [0 1 2]
슬라이싱 [[0 1 2]]
[[3 4 5]]
[7 8]

In [20]:
#값 변경
#3,4,5를 30,40,50으로 변경
arr2[1] = [30]
#7,8을 17,18로 변경
arr2[2][1:3] = [17, 18]

In [21]:
print(arr2)

[[ 0  1  2]
 [30 30 30]
 [ 6 17 18]]

In [29]:
arr3 = np.arange(50).reshape(5, 10)
arr3
#array[행, 열] ","로 행/열을 구분
#arr3[:2, :6]
# 모든 행의 0번 열 출력
arr3[:, :1]

array([[ 0],
       [10],
       [20],
       [30],
       [40]])

In [37]:
arr3 = np.arange(50).reshape(5, 10)
print(arr3)
arr3[::2,:1]

[[ 0  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]]

array([[ 0],
       [20],
       [40]])

In [30]:
arr4 = np.arange(18).reshape(3, 6)
arr4

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17]])

In [34]:
# 슬라이싱으로 한번에 [7, 9, 11] [13,15,17] 뽑기
arr4[1:,1::2]

array([[ 7,  9, 11],
       [13, 15, 17]])

In [38]:
arr4.T

array([[ 0,  6, 12],
       [ 1,  7, 13],
       [ 2,  8, 14],
       [ 3,  9, 15],
       [ 4, 10, 16],
       [ 5, 11, 17]])

In [39]:
import random
arr5 = np.random.randint(50, 100, size=8)
arr5

array([60, 70, 58, 73, 74, 57, 85, 61])

In [40]:
arr6 = np.array([21,31,41,51,61,70])
arr6 >= 50

array([False, False, False,  True,  True,  True])

In [41]:
arr6 % 2 == 0

array([False, False, False, False, False,  True])

In [44]:
arr6[arr6 % 2 == 0] #4

array([70])

In [51]:
arr7 = np.array([[6,9,6,8,7],[2,3,5,4,1]])
arr7[arr7 % 2 == 0] = 0

In [52]:
arr7

array([[0, 9, 0, 0, 7],
       [0, 3, 5, 0, 1]])

In [ ]:
arr8 = np.array([[1,2,3],[4,5,6]])
arr8.sum() #합계
np.sum(arr8) #합계

In [55]:
np.genfromtxt('data/ratings.dat', delimiter = '::', dtype=np.int64)

array([[        1,      1193,         5, 978300760],
       [        1,       661,         3, 978302109],
       [        1,       914,         3, 978301968],
       ...,
       [     6040,       562,         5, 956704746],
       [     6040,      1096,         4, 956715648],
       [     6040,      1097,         4, 956715569]])

In [ ]:
각 열
- 0번 인덱스 열 : 사용자 ID
- 1번 인덱스 열 : 영화의 ID
- 2번 인덱스 열 : 영화의 평점
- 3번 인덱스 열 : 리뷰 입력 시간(유닉스 시간)

In [176]:
movie = np.genfromtxt('data/ratings.dat', delimiter = '::', dtype=np.int64)

In [177]:
print(movie)

[[        1      1193         5 978300760]
 [        1       661         3 978302109]
 [        1       914         3 978301968]
 ...
 [     6040       562         5 956704746]
 [     6040      1096         4 956715648]
 [     6040      1097         4 956715569]]

In [179]:
np.savetxt('data/temp.txt', movie, delimiter=':', fmt='%d')

In [180]:
#데이터 속성 확인
#배열 형태
print(movie.shape)
#배열 차원
print(movie.ndim)
#배열 전체 요소 수
print(movie.size)

#전체 영화의 평점들의 평균
np.mean(movie[:, 2])

(1000209, 4)
2
4000836

In [184]:
#전체 영화의 평점들의 평균
np.mean(movie[:, 2])

3.581564453029317

In [187]:
#아이디가 1인 사용자가 매긴 영화의 평점들의 평균
np.mean(movie[:, 2][movie[:, 0] == 1])

4.188679245283019

In [68]:
len(movie[movie[:,0]== 2])

129

In [199]:
#데이터 유효성 검사
#중복값 제거
arr = np.unique(movie[:, 0])
arr

array([   1,    2,    3, ..., 6038, 6039, 6040])

In [200]:
#각 사용자가 매긴 평점들의 평균
#빈 리스트에 담기
#아이디는 1~6040까지 6040종류의 아이디가 있다고 가정
mean_list = []
mean_value = 0
for i in arr:
    mean_value = np.mean(movie[:, 2][movie[:, 0] == i])
    mean_list.append([i, mean_value])

In [201]:
len(mean_list)

6040

In [213]:
mean_list

[[1, 4.188679245283019],
 [2, 3.7131782945736433],
 [3, 3.9019607843137254],
 [4, 4.190476190476191],
 [5, 3.1464646464646466],
 [6, 3.9014084507042255],
 [7, 4.32258064516129],
 [8, 3.884892086330935],
 [9, 3.7358490566037736],
 [10, 4.114713216957606],
 [11, 3.2773722627737225],
 [12, 3.8260869565217392],
 [13, 3.388888888888889],
 [14, 3.32],
 [15, 3.3233830845771144],
 [16, 3.0285714285714285],
 [17, 4.075829383886256],
 [18, 3.6491803278688524],
 [19, 3.5725490196078433],
 [20, 4.083333333333333],
 [21, 2.909090909090909],
 [22, 3.0673400673400675],
 [23, 3.3157894736842106],
 [24, 3.948529411764706],
 [25, 3.7411764705882353],
 [26, 2.96],
 [27, 4.171428571428572],
 [28, 3.7570093457943927],
 [29, 3.5833333333333335],
 [30, 3.488372093023256],
 [31, 3.73109243697479],
 [32, 3.625],
 [33, 3.498721227621483],
 [34, 3.8658536585365852],
 [35, 3.54040404040404],
 [36, 4.199430199430199],
 [37, 3.69811320754717],
 [38, 3.58],
 [39, 3.564516129032258],
 [40, 3.4479166666666665],
 [41, 3.48],
 [42, 3.74025974025974],
 [43, 4.125],
 [44, 3.6321243523316062],
 [45, 2.946127946127946],
 [46, 4.219512195121951],
 [47, 3.909090909090909],
 [48, 3.068561872909699],
 [49, 3.712962962962963],
 [50, 3.0697674418604652],
 [51, 3.825],
 [52, 3.5569620253164556],
 [53, 4.2368421052631575],
 [54, 4.025],
 [55, 4.12],
 [56, 3.970149253731343],
 [57, 2.90625],
 [58, 3.9725400457665905],
 [59, 3.4741784037558685],
 [60, 3.414285714285714],
 [61, 2.7777777777777777],
 [62, 3.566265060240964],
 [63, 3.4285714285714284],
 [64, 4.148148148148148],
 [65, 4.347107438016529],
 [66, 3.8461538461538463],
 [67, 4.296875],
 [68, 3.75],
 [69, 4.153846153846154],
 [70, 3.7037037037037037],
 [71, 3.7586206896551726],
 [72, 3.697674418604651],
 [73, 3.364705882352941],
 [74, 4.046511627906977],
 [75, 4.005714285714285],
 [76, 4.172413793103448],
 [77, 2.948717948717949],
 [78, 3.657142857142857],
 [79, 3.6451612903225805],
 [80, 3.8958333333333335],
 [81, 4.4186046511627906],
 [82, 4.016949152542373],
 [83, 3.5757575757575757],
 [84, 3.838709677419355],
 [85, 3.1025641025641026],
 [86, 4.3125],
 [87, 2.8135593220338984],
 [88, 4.147058823529412],
 [89, 3.238095238095238],
 [90, 3.511111111111111],
 [91, 4.704545454545454],
 [92, 2.7581395348837208],
 [93, 2.9727272727272727],
 [94, 3.857142857142857],
 [95, 3.595959595959596],
 [96, 3.6049382716049383],
 [97, 4.474025974025974],
 [98, 3.8],
 [99, 3.2149532710280373],
 [100, 3.026315789473684],
 [101, 4.679245283018868],
 [102, 3.128787878787879],
 [103, 4.052173913043478],
 [104, 3.347826086956522],
 [105, 4.295081967213115],
 [106, 4.0212765957446805],
 [107, 3.743801652892562],
 [108, 3.135135135135135],
 [109, 4.0],
 [110, 3.25],
 [111, 3.7282608695652173],
 [112, 4.183333333333334],
 [113, 3.5],
 [114, 3.693877551020408],
 [115, 3.8421052631578947],
 [116, 3.802325581395349],
 [117, 3.299009900990099],
 [118, 3.767857142857143],
 [119, 3.5428571428571427],
 [120, 3.619047619047619],
 [121, 4.416666666666667],
 [122, 2.9649122807017543],
 [123, 3.401315789473684],
 [124, 4.173913043478261],
 [125, 4.098591549295775],
 [126, 4.0],
 [127, 3.8448275862068964],
 [128, 4.363636363636363],
 [129, 4.025316455696203],
 [130, 4.311111111111111],
 [131, 3.3966101694915256],
 [132, 3.966292134831461],
 [133, 3.7705882352941176],
 [134, 2.7158469945355193],
 [135, 3.657142857142857],
 [136, 3.074074074074074],
 [137, 3.611940298507463],
 [138, 4.492307692307692],
 [139, 3.8816326530612244],
 [140, 3.8181818181818183],
 [141, 3.6956521739130435],
 [142, 3.3404255319148937],
 [143, 3.5441176470588234],
 [144, 3.46875],
 [145, 3.0],
 [146, 3.7699530516431925],
 [147, 3.5026737967914436],
 [148, 3.733974358974359],
 [149, 3.9408783783783785],
 [150, 4.021551724137931],
 [151, 3.653927813163482],
 [152, 4.125],
 [153, 4.076923076923077],
 [154, 3.090909090909091],
 [155, 2.96875],
 [156, 4.236486486486487],
 [157, 3.718969555035129],
 [158, 4.0],
 [159, 3.7777777777777777],
 [160, 3.5],
 [161, 4.4713804713804715],
 [162, 4.121495327102804],
 [163, 2.1828793774319064],
 [164, 4.384615384615385],
 [165, 3.981818181818182],
 [166, 3.6878048780487807],
 [167, 2.9310344827586206],
 [168, 3.8461538461538463],
 [169, 3.5670289855072466],
 [170, 3.9885057471264367],
 [171, 4.0],
 [172, 3.608695652173913],
 [173, 3.9679144385026737],
 [174, 3.649484536082474],
 [175, 3.9810725552050474],
 [176, 3.6153846153846154],
 [177, 4.113636363636363],
 [178, 3.8434782608695652],
 [179, 2.6545454545454548],
 [180, 3.694915254237288],
 [181, 3.604651162790698],
 [182, 3.8313253012048194],
 [183, 4.099009900990099],
 [184, 4.083333333333333],
 [185, 3.588235294117647],
 [186, 4.254098360655738],
 [187, 4.083932853717027],
 [188, 3.1690140845070425],
 [189, 4.0],
 [190, 3.6993464052287583],
 [191, 3.3333333333333335],
 [192, 3.0914285714285716],
 [193, 3.677685950413223],
 [194, 3.983050847457627],
 [195, 3.889294403892944],
 [196, 4.0625],
 [197, 3.909090909090909],
 [198, 3.7493403693931397],
 [199, 3.2761194029850746],
 [200, 3.423076923076923],
 [201, 3.954022988505747],
 [202, 3.2492537313432837],
 [203, 2.2913385826771653],
 [204, 3.5560538116591927],
 [205, 4.0588235294117645],
 [206, 3.066666666666667],
 [207, 3.5217391304347827],
 [208, 3.652173913043478],
 [209, 3.16],
 [210, 4.027272727272727],
 [211, 3.857142857142857],
 [212, 3.8545454545454545],
 [213, 4.2272727272727275],
 [214, 3.1626506024096384],
 [215, 4.5588235294117645],
 [216, 3.2317380352644838],
 [217, 3.7],
 [218, 3.0930232558139537],
 [219, 3.3333333333333335],
 [220, 4.215686274509804],
 [221, 3.2413793103448274],
 [222, 4.0875],
 [223, 3.44140625],
 [224, 3.4019607843137254],
 [225, 3.4330708661417324],
 [226, 3.5714285714285716],
 [227, 3.2857142857142856],
 [228, 4.0],
 [229, 3.4292452830188678],
 [230, 4.094972067039106],
 [231, 4.22680412371134],
 [232, 3.566666666666667],
 [233, 4.584905660377358],
 [234, 4.310344827586207],
 [235, 4.086363636363636],
 [236, 3.693548387096774],
 [237, 3.4036144578313254],
 [238, 3.7868217054263567],
 [239, 4.140845070422535],
 [240, 3.300699300699301],
 [241, 3.9649122807017543],
 [242, 3.2051282051282053],
 [243, 3.606060606060606],
 [244, 4.105882352941176],
 [245, 2.6714659685863875],
 [246, 4.0],
 [247, 3.935483870967742],
 [248, 4.205882352941177],
 [249, 3.9454545454545453],
 [250, 3.75],
 [251, 3.5753424657534247],
 [252, 4.016666666666667],
 [253, 3.9245283018867925],
 [254, 3.782608695652174],
 [255, 4.016393442622951],
 [256, 3.8526315789473684],
 [257, 4.452830188679245],
 [258, 3.717241379310345],
 [259, 4.0359712230215825],
 [260, 3.311688311688312],
 [261, 3.5762711864406778],
 [262, 3.330188679245283],
 [263, 3.6630434782608696],
 [264, 2.785416666666667],
 [265, 4.1938775510204085],
 [266, 4.52],
 [267, 3.3893129770992365],
 [268, 3.3946360153256707],
 [269, 3.8],
 [270, 4.198412698412699],
 [271, 3.9583333333333335],
 [272, 3.6535269709543567],
 [273, 3.727272727272727],
 [274, 4.243243243243243],
 [275, 4.247191011235955],
 [276, 3.5217391304347827],
 [277, 3.727272727272727],
 [278, 3.9646464646464645],
 [279, 2.872340425531915],
 [280, 3.94],
 [281, 3.891891891891892],
 [282, 3.5172413793103448],
 [283, 4.962962962962963],
 [284, 3.021231422505308],
 [285, 4.16546762589928],
 [286, 3.883720930232558],
 [287, 3.70873786407767],
 [288, 4.589285714285714],
 [289, 3.9054054054054053],
 [290, 3.303030303030303],
 [291, 4.137254901960785],
 [292, 3.7560975609756095],
 [293, 3.2460567823343847],
 [294, 3.489795918367347],
 [295, 3.764397905759162],
 [296, 3.597938144329897],
 [297, 4.0],
 [298, 3.925925925925926],
 [299, 4.163461538461538],
 [300, 4.180722891566265],
 [301, 3.8011204481792715],
 [302, 2.8692893401015227],
 [303, 3.861244019138756],
 [304, 3.5555555555555554],
 [305, 2.5605095541401273],
 [306, 3.937823834196891],
 [307, 4.593406593406593],
 [308, 3.385996409335727],
 [309, 4.040650406504065],
 [310, 3.4260089686098656],
 [311, 4.15],
 [312, 3.736842105263158],
 [313, 4.038461538461538],
 [314, 3.696245733788396],
 [315, 3.8636363636363638],
 [316, 4.116883116883117],
 [317, 3.8095238095238093],
 [318, 3.9523809523809526],
 [319, 3.263522884882108],
 [320, 4.238095238095238],
 [321, 3.2612612612612613],
 [322, 4.45],
 [323, 3.788135593220339],
 [324, 3.3289473684210527],
 [325, 4.046511627906977],
 [326, 3.3350923482849604],
 [327, 3.669491525423729],
 [328, 3.032258064516129],
 [329, 2.7264397905759163],
 [330, 4.0131578947368425],
 [331, 3.7654109589041096],
 [332, 4.2835820895522385],
 [333, 3.352422907488987],
 [334, 3.9508196721311477],
 [335, 2.5],
 [336, 4.308411214953271],
 [337, 3.525252525252525],
 [338, 3.665745856353591],
 [339, 4.024193548387097],
 [340, 3.5277777777777777],
 [341, 4.2],
 [342, 3.6910569105691056],
 [343, 4.047138047138047],
 [344, 2.9555555555555557],
 [345, 4.4],
 [346, 4.307420494699647],
 [347, 3.878787878787879],
 [348, 3.78],
 [349, 3.25],
 [350, 3.9375],
 [351, 3.7572815533980584],
 [352, 3.4793103448275864],
 [353, 3.9166666666666665],
 [354, 3.586206896551724],
 [355, 3.4463007159904535],
 [356, 4.380952380952381],
 [357, 3.293103448275862],
 [358, 3.8472222222222223],
 [359, 3.857142857142857],
 [360, 3.6417910447761193],
 [361, 3.5384615384615383],
 [362, 3.290909090909091],
 [363, 3.744186046511628],
 [364, 3.142857142857143],
 [365, 3.3404255319148937],
 [366, 4.06949806949807],
 [367, 4.25],
 [368, 3.78125],
 [369, 3.1954022988505746],
 [370, 3.75],
 [371, 3.5],
 [372, 4.553571428571429],
 [373, 3.5555555555555554],
 [374, 4.403846153846154],
 [375, 4.078431372549019],
 [376, 4.111111111111111],
 [377, 3.9044117647058822],
 [378, 3.5128205128205128],
 [379, 4.234375],
 [380, 3.7246376811594204],
 [381, 4.114285714285714],
 [382, 4.017857142857143],
 [383, 3.5714285714285716],
 [384, 3.590909090909091],
 [385, 3.9562043795620436],
 [386, 3.3230769230769233],
 [387, 3.676470588235294],
 [388, 3.8813559322033897],
 [389, 3.5616438356164384],
 [390, 3.6728971962616823],
 [391, 3.728395061728395],
 [392, 3.4743326488706368],
 [393, 3.581081081081081],
 [394, 3.3421052631578947],
 [395, 3.608695652173913],
 [396, 3.560693641618497],
 [397, 3.8823529411764706],
 [398, 3.8133333333333335],
 [399, 4.15625],
 [400, 3.875],
 [401, 3.871794871794872],
 [402, 3.591549295774648],
 [403, 3.8035714285714284],
 [404, 4.14],
 [405, 3.795918367346939],
 [406, 3.306122448979592],
 [407, 3.4375],
 [408, 4.352564102564102],
 [409, 3.9158249158249157],
 [410, 3.96875],
 [411, 3.280314960629921],
 [412, 4.401260504201681],
 [413, 4.404040404040404],
 [414, 3.0701754385964914],
 [415, 3.874538745387454],
 [416, 3.7580645161290325],
 [417, 4.045454545454546],
 [418, 3.549019607843137],
 [419, 3.962962962962963],
 [420, 4.359375],
 [421, 4.25],
 [422, 3.297872340425532],
 [423, 2.5],
 [424, 3.735725938009788],
 [425, 3.6613756613756614],
 [426, 3.7573221757322175],
 [427, 4.111111111111111],
 [428, 3.9],
 [429, 3.346820809248555],
 [430, 3.9682539682539684],
 [431, 3.630952380952381],
 [432, 2.9863013698630136],
 [433, 3.391304347826087],
 [434, 4.023255813953488],
 [435, 3.8333333333333335],
 [436, 3.8345864661654137],
 [437, 4.3076923076923075],
 [438, 3.528239202657807],
 [439, 3.902173913043478],
 [440, 3.586206896551724],
 [441, 3.9574468085106385],
 [442, 3.8486997635933804],
 [443, 3.823529411764706],
 [444, 4.0],
 [445, 3.3181818181818183],
 [446, 4.8431372549019605],
 [447, 4.837837837837838],
 [448, 3.4347826086956523],
 [449, 3.7222222222222223],
 [450, 4.196078431372549],
 [451, 4.511961722488039],
 [452, 4.431818181818182],
 [453, 3.66497461928934],
 [454, 3.218045112781955],
 [455, 4.2],
 [456, 3.394904458598726],
 [457, 3.7130801687763713],
 [458, 3.5348837209302326],
 [459, 3.6875],
 [460, 3.3617021276595747],
 [461, 3.224609375],
 [462, 3.536723163841808],
 [463, 3.0],
 [464, 3.6097560975609757],
 [465, 3.5405405405405403],
 [466, 4.14070351758794],
 [467, 3.2028985507246377],
 [468, 3.730769230769231],
 [469, 4.326530612244898],
 [470, 3.8088235294117645],
 [471, 3.6285714285714286],
 [472, 4.022222222222222],
 [473, 4.163265306122449],
 [474, 3.380503144654088],
 [475, 3.8299595141700404],
 [476, 3.8375870069605567],
 [477, 3.5829383886255926],
 [478, 3.869565217391304],
 [479, 3.827956989247312],
 [480, 3.411214953271028],
 [481, 3.696969696969697],
 [482, 3.2606060606060607],
 [483, 2.9310344827586206],
 [484, 3.735294117647059],
 [485, 4.044444444444444],
 [486, 4.051282051282051],
 [487, 3.34],
 [488, 3.56],
 [489, 3.3333333333333335],
 [490, 3.7662337662337664],
 [491, 3.68],
 [492, 3.9375],
 [493, 3.848101265822785],
 [494, 4.157068062827225],
 [495, 3.7954545454545454],
 [496, 4.294117647058823],
 [497, 3.5833333333333335],
 [498, 3.6511627906976742],
 [499, 3.9748743718592965],
 [500, 3.633663366336634],
 [501, 3.417910447761194],
 [502, 4.083333333333333],
 [503, 4.448275862068965],
 [504, 3.8055555555555554],
 [505, 4.217391304347826],
 [506, 3.422222222222222],
 [507, 3.9523809523809526],
 [508, 3.3221476510067114],
 [509, 3.3139695712309822],
 [510, 3.8282828282828283],
 [511, 3.740740740740741],
 [512, 3.8378378378378377],
 [513, 3.1474358974358974],
 [514, 4.2025316455696204],
 [515, 3.728395061728395],
 [516, 2.931972789115646],
 [517, 3.963855421686747],
 [518, 4.3478260869565215],
 [519, 3.3777777777777778],
 [520, 3.9363057324840764],
 [521, 4.2926829268292686],
 [522, 3.8448275862068964],
 [523, 4.06],
 [524, 3.608267716535433],
 [525, 4.025],
 [526, 3.896551724137931],
 [527, 4.08],
 [528, 3.3551724137931034],
 [529, 4.19672131147541],
 [530, 4.0],
 [531, 3.1591695501730106],
 [532, 3.86046511627907],
 [533, 3.3401015228426396],
 [534, 3.7475728155339807],
 [535, 3.5714285714285716],
 [536, 3.942857142857143],
 [537, 4.3061224489795915],
 [538, 4.458333333333333],
 [539, 3.9242424242424243],
 [540, 3.230769230769231],
 [541, 3.1894736842105265],
 [542, 3.764705882352941],
 [543, 4.078986587183309],
 [544, 3.7777777777777777],
 [545, 3.4827586206896552],
 [546, 3.231818181818182],
 [547, 3.858974358974359],
 [548, 3.093220338983051],
 [549, 3.7569444444444446],
 [550, 3.578076525336091],
 [551, 3.8201754385964914],
 [552, 3.7628865979381443],
 [553, 4.15625],
 [554, 3.511627906976744],
 [555, 3.8157894736842106],
 [556, 3.5],
 [557, 3.8793103448275863],
 [558, 3.6804123711340204],
 [559, 3.0],
 [560, 3.897810218978102],
 [561, 3.7222222222222223],
 [562, 3.7027027027027026],
 [563, 2.7023121387283235],
 [564, 4.0],
 [565, 3.44],
 [566, 2.6273408239700373],
 [567, 4.583333333333333],
 [568, 4.44],
 [569, 3.52],
 [570, 3.329113924050633],
 [571, 3.7054794520547945],
 [572, 3.05],
 [573, 3.9722222222222223],
 [574, 4.095238095238095],
 [575, 3.6564417177914113],
 [576, 3.6666666666666665],
 [577, 4.487341772151899],
 [578, 3.9642857142857144],
 [579, 3.8550724637681157],
 [580, 3.347826086956522],
 [581, 3.6666666666666665],
 [582, 4.282051282051282],
 [583, 4.040229885057471],
 [584, 4.2894736842105265],
 [585, 3.4662162162162162],
 [586, 4.485714285714286],
 [587, 3.0077922077922077],
 [588, 4.057395143487859],
 [589, 4.0],
 [590, 4.13855421686747],
 [591, 3.231404958677686],
 [592, 4.391304347826087],
 [593, 3.641509433962264],
 [594, 4.29559748427673],
 [595, 3.95],
 [596, 2.9523809523809526],
 [597, 4.473684210526316],
 [598, 3.3157894736842106],
 [599, 3.8518518518518516],
 [600, 3.652173913043478],
 [601, 3.1501340482573728],
 [602, 3.396103896103896],
 [603, 3.5238095238095237],
 [604, 3.0940766550522647],
 [605, 4.049180327868853],
 [606, 4.03030303030303],
 [607, 4.16],
 [608, 3.1882352941176473],
 [609, 4.346153846153846],
 [610, 3.484126984126984],
 [611, 3.9393939393939394],
 [612, 3.5],
 [613, 3.5849056603773586],
 [614, 3.8333333333333335],
 [615, 4.127659574468085],
 [616, 3.9545454545454546],
 [617, 4.086956521739131],
 [618, 3.0],
 [619, 3.909090909090909],
 [620, 3.3240223463687153],
 [621, 3.0416666666666665],
 [622, 3.912280701754386],
 [623, 4.226744186046512],
 [624, 3.6801075268817205],
 [625, 4.0],
 [626, 4.055555555555555],
 [627, 3.5625],
 [628, 3.9038461538461537],
 [629, 3.371308016877637],
 [630, 4.254237288135593],
 [631, 3.7948717948717947],
 [632, 3.7941176470588234],
 [633, 3.5813953488372094],
 [634, 4.014925373134329],
 [635, 4.3107344632768365],
 [636, 4.058139534883721],
 [637, 3.7559681697612732],
 [638, 4.175438596491228],
 [639, 3.705],
 [640, 4.333333333333333],
 [641, 4.008264462809917],
 [642, 4.111111111111111],
 [643, 2.7142857142857144],
 [644, 3.1203703703703702],
 [645, 4.4772727272727275],
 [646, 3.8031496062992125],
 [647, 3.103896103896104],
 [648, 3.7231638418079096],
 [649, 3.6619718309859155],
 [650, 3.8947368421052633],
 [651, 3.6129707112970713],
 [652, 2.8863636363636362],
 [653, 4.142857142857143],
 [654, 3.4324324324324325],
 [655, 2.733009708737864],
 [656, 3.8700564971751414],
 [657, 4.016949152542373],
 [658, 3.096774193548387],
 [659, 3.7],
 [660, 3.0170697012802274],
 [661, 4.647887323943662],
 [662, 3.141732283464567],
 [663, 3.580357142857143],
 [664, 4.025316455696203],
 [665, 3.5],
 [666, 3.8932038834951457],
 [667, 3.0935672514619883],
 [668, 3.5833333333333335],
 [669, 3.847255369928401],
 [670, 3.2444444444444445],
 [671, 4.2592592592592595],
 [672, 3.872340425531915],
 [673, 3.13151364764268],
 [674, 4.2784810126582276],
 [675, 3.3095238095238093],
 [676, 3.128205128205128],
 [677, 3.892682926829268],
 [678, 3.6776776776776776],
 [679, 3.926829268292683],
 [680, 3.5714285714285716],
 [681, 4.2368421052631575],
 [682, 4.733333333333333],
 [683, 3.586206896551724],
 [684, 3.8947368421052633],
 [685, 3.2357142857142858],
 [686, 3.7777777777777777],
 [687, 3.4873417721518987],
 [688, 3.75],
 [689, 3.3925925925925924],
 [690, 4.311111111111111],
 [691, 4.174757281553398],
 [692, 3.8240887480190175],
 [693, 3.8857142857142857],
 [694, 3.625],
 [695, 3.513089005235602],
 [696, 3.802992518703242],
 [697, 3.8],
 [698, 3.551851851851852],
 [699, 3.0534124629080117],
 [700, 3.875],
 [701, 3.5],
 [702, 3.3027139874739038],
 [703, 4.1],
 [704, 3.081081081081081],
 [705, 3.371212121212121],
 [706, 3.556291390728477],
 [707, 3.6153846153846154],
 [708, 3.85],
 [709, 2.8292682926829267],
 [710, 3.4271186440677965],
 [711, 4.0],
 [712, 3.475177304964539],
 [713, 3.446280991735537],
 [714, 4.1635071090047395],
 [715, 3.8877551020408165],
 [716, 4.198979591836735],
 [717, 3.1538461538461537],
 [718, 3.775147928994083],
 [719, 3.5],
 [720, 2.9098712446351933],
 [721, 3.551051051051051],
 [722, 3.909090909090909],
 [723, 3.8333333333333335],
 [724, 3.643312101910828],
 [725, 4.197530864197531],
 [726, 3.9315068493150687],
 [727, 3.6987951807228914],
 [728, 3.311377245508982],
 [729, 3.5273972602739727],
 [730, 3.7735849056603774],
 [731, 3.778816199376947],
 [732, 3.4285714285714284],
 [733, 4.05982905982906],
 [734, 3.727272727272727],
 [735, 3.590330788804071],
 [736, 3.9298245614035086],
 [737, 3.5668202764976957],
 [738, 3.303030303030303],
 [739, 4.354330708661418],
 [740, 4.243243243243243],
 [741, 3.324675324675325],
 [742, 3.9523809523809526],
 [743, 3.38255033557047],
 [744, 3.3703703703703702],
 [745, 2.64],
 [746, 2.634433962264151],
 [747, 3.59375],
 [748, 3.9753086419753085],
 [749, 3.3246187363834423],
 [750, 4.321428571428571],
 [751, 3.88],
 [752, 2.8291015625],
 [753, 3.7752293577981653],
 [754, 3.7770700636942673],
 [755, 4.111111111111111],
 [756, 3.9714285714285715],
 [757, 3.225806451612903],
 [758, 4.0],
 [759, 3.5876288659793816],
 [760, 4.265625],
 [761, 4.55],
 [762, 3.717391304347826],
 [763, 3.730769230769231],
 [764, 4.525179856115108],
 [765, 3.574626865671642],
 [766, 3.9361702127659575],
 [767, 4.023529411764706],
 [768, 4.4375],
 [769, 3.8208955223880596],
 [770, 2.935441370223979],
 [771, 3.769230769230769],
 [772, 3.479591836734694],
 [773, 3.5918367346938775],
 [774, 3.2142857142857144],
 [775, 4.0],
 [776, 3.766990291262136],
 [777, 2.5796812749003983],
 [778, 3.785276073619632],
 [779, 3.3333333333333335],
 [780, 3.45703125],
 [781, 3.1709401709401708],
 [782, 3.4347826086956523],
 [783, 3.5210084033613445],
 [784, 4.066666666666666],

In [226]:
#각 사용자별 평균 평점이 4점 이상인 사용자 id만 구해보기
mean_array = np.array(mean_list)
print(mean_array[:, 0][mean_array[:, 1] >= 4].astype(int))

[   1    4    7 ... 6027 6032 6034]

In [227]:
print(movie)

[[        1      1193         5 978300760]
 [        1       661         3 978302109]
 [        1       914         3 978301968]
 ...
 [     6040       562         5 956704746]
 [     6040      1096         4 956715648]
 [     6040      1097         4 956715569]]

In [243]:
#10번 영화의 평점의 평균 구하기
movie_name = np.unique(movie[:, 1])
ten = movie[:, 2][movie[:, 1] == 10].mean()

#각 영화가 받은 평점의 평균 구하기
movie_list = []
for i in movie_name:
    value = np.mean(movie[:, 2][movie[:, 1] == i])
    movie_list.append([i, value])

In [245]:
print(ten)

3.5405405405405403

In [244]:
movie_list

[[1, 4.146846413095811],
 [2, 3.20114122681883],
 [3, 3.01673640167364],
 [4, 2.7294117647058824],
 [5, 3.0067567567567566],
 [6, 3.8787234042553194],
 [7, 3.410480349344978],
 [8, 3.014705882352941],
 [9, 2.656862745098039],
 [10, 3.5405405405405403],
 [11, 3.7938044530493706],
 [12, 2.3625],
 [13, 3.2626262626262625],
 [14, 3.542483660130719],
 [15, 2.458904109589041],
 [16, 3.7932551319648096],
 [17, 4.027544910179641],
 [18, 3.337579617834395],
 [19, 2.480719794344473],
 [20, 2.5375],
 [21, 3.6238938053097347],
 [22, 3.3492063492063493],
 [23, 2.857142857142857],
 [24, 3.1794871794871793],
 [25, 3.6510204081632653],
 [26, 3.53],
 [27, 2.9344262295081966],
 [28, 4.055865921787709],
 [29, 4.062034739454094],
 [30, 3.6486486486486487],
 [31, 3.1134751773049647],
 [32, 3.945731303772336],
 [33, 3.0],
 [34, 3.8914905768132497],
 [35, 3.3142857142857145],
 [36, 3.9579741379310347],
 [37, 3.5],
 [38, 2.8214285714285716],
 [39, 3.6233480176211454],
 [40, 3.933333333333333],
 [41, 3.958677685950413],
 [42, 2.8687782805429864],
 [43, 3.4457831325301207],
 [44, 2.787781350482315],
 [45, 3.4246323529411766],
 [46, 3.108433734939759],
 [47, 4.106420404573439],
 [48, 2.9764397905759163],
 [49, 3.740740740740741],
 [50, 4.517106001121705],
 [52, 3.640371229698376],
 [53, 4.75],
 [54, 2.5609756097560976],
 [55, 3.066666666666667],
 [56, 2.0],
 [57, 3.404040404040404],
 [58, 4.093812375249501],
 [59, 2.75],
 [60, 3.212885154061625],
 [61, 3.0],
 [62, 3.6968576709796674],
 [63, 2.855855855855856],
 [64, 2.2658227848101267],
 [65, 2.062937062937063],
 [66, 1.6701030927835052],
 [67, 3.25],
 [68, 3.45],
 [69, 3.6551724137931036],
 [70, 3.1564551422319473],
 [71, 2.1041666666666665],
 [72, 3.6344086021505375],
 [73, 3.8169642857142856],
 [74, 2.975],
 [75, 1.9166666666666667],
 [76, 2.853932584269663],
 [77, 3.764705882352941],
 [78, 3.26],
 [79, 2.6052631578947367],
 [80, 3.826923076923077],
 [81, 3.1626506024096384],
 [82, 3.8764044943820224],
 [83, 3.696969696969697],
 [84, 3.0952380952380953],
 [85, 3.402061855670103],
 [86, 3.3940677966101696],
 [87, 2.210526315789474],
 [88, 2.9427083333333335],
 [89, 3.074235807860262],
 [90, 3.6666666666666665],
 [92, 2.340909090909091],
 [93, 2.235955056179775],
 [94, 3.7252747252747254],
 [95, 2.876175548589342],
 [96, 3.923076923076923],
 [97, 3.75],
 [98, 2.0],
 [99, 3.46],
 [100, 3.0625],
 [101, 3.869565217391304],
 [102, 1.8166666666666667],
 [103, 3.212121212121212],
 [104, 3.526392961876833],
 [105, 3.2325581395348837],
 [106, 3.5833333333333335],
 [107, 3.1484375],
 [108, 2.857142857142857],
 [110, 4.234957020057307],
 [111, 4.183870967741935],
 [112, 3.443859649122807],
 [113, 2.981132075471698],
 [114, 3.090909090909091],
 [116, 4.097560975609756],
 [117, 3.632911392405063],
 [118, 3.073529411764706],
 [119, 2.4615384615384617],
 [120, 2.6666666666666665],
 [121, 4.054054054054054],
 [122, 2.768041237113402],
 [123, 3.869565217391304],
 [124, 3.2142857142857144],
 [125, 3.8333333333333335],
 [126, 1.9898989898989898],
 [127, 1.0],
 [128, 4.333333333333333],
 [129, 3.3076923076923075],
 [130, 4.0],
 [131, 3.0625],
 [132, 2.4945054945054945],
 [133, 1.0],
 [134, 4.0],
 [135, 2.81203007518797],
 [136, 3.25],
 [137, 3.0],
 [138, 2.5],
 [139, 4.0],
 [140, 3.1654676258992804],
 [141, 3.5498533724340176],
 [142, 1.0],
 [144, 3.392609699769053],
 [145, 3.2955801104972378],
 [146, 2.888888888888889],
 [147, 3.541436464088398],
 [148, 2.782608695652174],
 [149, 3.7872340425531914],
 [150, 4.073541167066347],
 [151, 3.588447653429603],
 [152, 3.0],
 [153, 2.642213642213642],
 [154, 3.7261904761904763],
 [155, 3.413793103448276],
 [156, 3.5606060606060606],
 [157, 2.732620320855615],
 [158, 2.9806949806949805],
 [159, 3.2844827586206895],
 [160, 2.2389380530973453],
 [161, 3.723684210526316],
 [162, 4.063136456211812],
 [163, 3.4574074074074073],
 [164, 3.5672823218997363],
 [165, 3.561212121212121],
 [166, 2.459016393442623],
 [167, 3.6],
 [168, 2.9502762430939224],
 [169, 2.017699115044248],
 [170, 3.146417445482866],
 [171, 3.5698924731182795],
 [172, 2.576419213973799],
 [173, 2.3085106382978724],
 [174, 2.308641975308642],
 [175, 3.477272727272727],
 [176, 3.9170731707317072],
 [177, 2.7338129496402876],
 [178, 3.473684210526316],
 [179, 2.2083333333333335],
 [180, 3.5476718403547673],
 [181, 1.6129032258064515],
 [182, 3.142857142857143],
 [183, 3.4827586206896552],
 [184, 3.3461538461538463],
 [185, 2.869947275922671],
 [186, 2.7630331753554502],
 [187, 3.238095238095238],
 [188, 3.221052631578947],
 [189, 3.4],
 [190, 3.75],
 [191, 2.466666666666667],
 [192, 3.0],
 [193, 2.0506912442396312],
 [194, 3.755868544600939],
 [195, 2.841463414634146],
 [196, 2.8236363636363637],
 [197, 3.0588235294117645],
 [198, 3.2958677685950413],
 [199, 3.8119658119658117],
 [200, 2.4166666666666665],
 [201, 2.6363636363636362],
 [202, 2.5],
 [203, 3.0541871921182264],
 [204, 2.9211822660098523],
 [205, 3.611764705882353],
 [206, 3.6707317073170733],
 [207, 3.132420091324201],
 [208, 2.6313364055299537],
 [209, 2.4615384615384617],
 [210, 3.1463414634146343],
 [211, 3.5588235294117645],
 [212, 1.9285714285714286],
 [213, 4.056910569105691],
 [214, 4.25],
 [215, 3.80625],
 [216, 3.183098591549296],
 [217, 2.625],
 [218, 3.128205128205128],
 [219, 3.1818181818181817],
 [220, 1.8214285714285714],
 [222, 3.547112462006079],
 [223, 3.946883852691218],
 [224, 3.3911917098445596],
 [225, 3.173228346456693],
 [226, 2.0],
 [227, 2.6744186046511627],
 [228, 2.1538461538461537],
 [229, 3.5],
 [230, 3.4527220630372493],
 [231, 3.1924242424242424],
 [232, 4.07514450867052],
 [233, 3.6127659574468085],
 [234, 2.2244897959183674],
 [235, 3.696871628910464],
 [236, 3.303680981595092],
 [237, 2.972762645914397],
 [238, 2.8125],
 [239, 2.875],
 [240, 2.7111111111111112],
 [241, 3.310344827586207],
 [242, 3.5],
 [243, 2.1],
 [244, 1.9],
 [245, 3.0],
 [246, 4.18854748603352],
 [247, 3.8658280922431865],
 [248, 2.9130434782608696],
 [249, 3.7586206896551726],
 [250, 2.6],
 [251, 3.2777777777777777],
 [252, 3.2697547683923704],
 [253, 3.524390243902439],
 [254, 3.0789473684210527],
 [255, 2.0606060606060606],
 [256, 2.6513761467889907],
 [257, 3.2280701754385963],
 [258, 2.423611111111111],
 [259, 2.843137254901961],
 [260, 4.453694416583082],
 [261, 3.6491228070175437],
 [262, 3.872093023255814],
 [263, 3.857142857142857],
 [264, 3.2],
 [265, 3.9326424870466323],
 [266, 3.425531914893617],
 [267, 2.7285714285714286],
 [268, 3.3703703703703702],
 [269, 3.5272727272727273],
 [270, 3.037974683544304],
 [271, 3.142857142857143],
 [272, 3.7258485639686683],
 [273, 2.8975409836065573],
 [274, 2.375],
 [275, 2.5375],
 [276, 2.692982456140351],
 [277, 3.1823529411764704],
 [278, 2.75],
 [279, 3.717391304347826],
 [280, 3.5707547169811322],
 [281, 3.648068669527897],
 [282, 3.2232558139534886],
 [283, 3.0],
 [286, 3.0],
 [287, 2.9047619047619047],
 [288, 3.144285714285714],
 [289, 3.3417721518987342],
 [290, 3.9166666666666665],
 [291, 2.2083333333333335],
 [292, 3.2687585266030013],
 [293, 4.106175514626218],
 [294, 3.0952380952380953],
 [295, 2.7586206896551726],
 [296, 4.278212805158913],
 [297, 3.107142857142857],
 [298, 3.9130434782608696],
 [299, 3.664335664335664],
 [300, 3.7588652482269502],
 [301, 3.302325581395349],
 [302, 3.813953488372093],
 [303, 2.9760765550239237],
 [304, 3.142857142857143],
 [305, 2.5039370078740157],
 [306, 4.227544910179641],
 [307, 4.098765432098766],
 [308, 3.9653465346534653],
 [309, 3.6875],
 [310, 2.6666666666666665],
 [311, 3.0],
 [312, 2.4375],
 [313, 2.888888888888889],
 [314, 3.85],
 [315, 2.65359477124183],
 [316, 3.490143369175627],
 [317, 3.1918876755070205],
 [318, 4.554557700942973],
 [319, 3.8937728937728937],
 [320, 3.40625],
 [321, 3.7540983606557377],
 [322, 3.712918660287081],
 [324, 3.9696969696969697],
 [325, 2.4489795918367347],
 [326, 4.344262295081967],
 [327, 2.6145251396648046],
 [328, 3.111111111111111],
 [329, 3.3767676767676766],
 [330, 2.7315436241610738],
 [331, 3.0952380952380953],
 [332, 2.546583850931677],
 [333, 3.502439024390244],
 [334, 3.8596491228070176],
 [335, 3.4878048780487805],
 [336, 2.6842105263157894],
 [337, 3.8412698412698414],
 [338, 2.8823529411764706],
 [339, 3.49925705794948],
 [340, 3.2738095238095237],
 [341, 3.838709677419355],
 [342, 3.6776061776061777],
 [343, 2.4285714285714284],
 [344, 3.1488250652741514],
 [345, 3.8059701492537314],
 [346, 3.525],
 [347, 3.1739130434782608],
 [348, 3.698901098901099],
 [349, 3.7261567516525025],
 [350, 3.392233009708738],
 [351, 3.342412451361868],
 [352, 3.134453781512605],
 [353, 3.4455040871934606],
 [354, 3.1791044776119404],
 [355, 2.352059925093633],
 [356, 4.087967183226983],
 [357, 3.7437145174371453],
 [358, 3.1702127659574466],
 [359, 3.210526315789474],
 [360, 2.4960629921259843],
 [361, 3.421641791044776],
 [362, 3.3640167364016738],
 [363, 4.258064516129032],
 [364, 3.8608385370205176],
 [365, 3.1690140845070425],
 [366, 2.8207171314741037],
 [367, 3.279050042408821],
 [368, 3.5236907730673317],
 [369, 3.310344827586207],
 [370, 2.8980582524271843],
 [371, 3.1792452830188678],
 [372, 3.1542056074766354],
 [373, 3.856589147286822],
 [374, 2.1147540983606556],
 [375, 3.2941176470588234],
 [376, 3.2457142857142856],
 [377, 3.5654545454545454],
 [378, 2.892857142857143],
 [379, 2.889908256880734],
 [380, 3.6342857142857143],
 [381, 3.2606635071090047],
 [382, 2.9338235294117645],
 [383, 3.2666666666666666],
 [384, 2.9],
 [385, 3.4],
 [386, 2.6],
 [387, 2.7450980392156863],
 [388, 3.6391752577319587],
 [389, 3.7],
 [390, 3.542372881355932],
 [391, 3.275],
 [392, 2.8],
 [393, 1.8571428571428572],
 [394, 3.6666666666666665],
 [396, 4.0],
 [397, 2.4166666666666665],
 [398, 4.0],
 [401, 3.0],
 [402, 3.0],
 [404, 3.75],
 [405, 2.123152709359606],
 [406, 3.625],
 [407, 2.911917098445596],
 [408, 3.3194444444444446],
 [409, 3.020408163265306],
 [410, 2.9071274298056156],
 [411, 2.6153846153846154],
 [412, 3.559322033898305],
 [413, 2.5306122448979593],
 [414, 2.6555555555555554],
 [415, 2.4804469273743015],
 [416, 2.4269662921348316],
 [417, 3.485576923076923],
 [418, 2.5172413793103448],
 [419, 2.1923076923076925],
 [420, 2.5056818181818183],
 [421, 3.3617021276595747],
 [422, 3.1228070175438596],
 [423, 3.1085972850678734],
 [424, 2.6],
 [425, 3.6095238095238096],
 [426, 3.0817843866171004],
 [427, 2.3674698795180724],
 [428, 3.931558935361217],
 [429, 2.379679144385027],
 [430, 2.4166666666666665],
 [431, 3.6910569105691056],
 [432, 2.579081632653061],
 [433, 2.7916666666666665],
 [434, 3.0845481049562684],
 [435, 2.6060037523452158],
 [436, 2.652482269503546],
 [437, 2.046875],
 [438, 2.625],
 [439, 4.5],
 [440, 3.811181434599156],
 [441, 3.6936236391912907],
 [442, 2.9921875],
 [443, 3.3870967741935485],
 [444, 2.2962962962962963],
 [445, 2.61],
 [446, 4.082677165354331],
 [447, 2.4838709677419355],
 [448, 3.6008771929824563],
 [449, 3.6619718309859155],
 [450, 3.280701754385965],
 [451, 3.150943396226415],
 [452, 3.289473684210526],
 [453, 3.2238805970149254],
 [454, 3.5473300970873787],
 [455, 2.5894736842105264],
 [456, 4.0],
 [457, 4.103258145363409],
 [458, 3.2758620689655173],
 [459, 2.832167832167832],
 [460, 2.263157894736842],
 [461, 3.2790697674418605],
 [462, 2.642857142857143],
 [463, 2.74468085106383],
 [464, 2.7824074074074074],
 [465, 3.3142857142857145],
 [466, 2.7958115183246073],
 [467, 3.2037037037037037],
 [468, 3.2714285714285714],
 [469, 2.9565217391304346],
 [470, 1.736842105263158],
 [471, 3.631051752921536],
 [472, 2.7045454545454546],
 [473, 2.225165562913907],
 [474, 3.825102880658436],
 [475, 3.9006410256410255],
 [476, 2.6857142857142855],
 [477, 3.466666666666667],
 [478, 2.4583333333333335],
 [479, 2.7969924812030076],
 [480, 3.7638473053892216],
 [481, 3.380952380952381],
 [482, 3.528409090909091],
 [483, 3.7432432432432434],
 [484, 2.6551724137931036],
 [485, 2.508],
 [486, 2.8125],
 [487, 2.6129032258064515],
 [488, 3.3846153846153846],
 [489, 2.4742268041237114],
 [490, 3.324324324324324],
 [491, 3.3160377358490565],
 [492, 3.719402985074627],
 [493, 3.6073825503355703],
 [494, 3.3461538461538463],
 [495, 3.380952380952381],
 [496, 3.2162162162162162],
 [497, 4.0],
 [498, 2.74468085106383],
 [499, 2.7551020408163267],
 [500, 3.420047732696897],
 [501, 3.606382978723404],
 [502, 1.935483870967742],
 [503, 3.6923076923076925],
 [504, 2.955056179775281],
 [505, 2.4927536231884058],
 [506, 3.491228070175439],
 [507, 3.522727272727273],
 [508, 3.894830659536542],
 [509, 3.674342105263158],
 [510, 2.4047619047619047],
 [511, 3.1052631578947367],
 [512, 2.8715083798882683],
 [513, 3.1194029850746268],
 [514, 3.531791907514451],
 [515, 3.917777777777778],
 [516, 2.870967741935484],
 [517, 3.175392670157068],
 [518, 2.4563758389261743],
 [519, 1.9405940594059405],
 [520, 2.93048128342246],
 [521, 3.3675213675213675],
 [522, 3.566265060240964],
 [523, 3.658119658119658],
 [524, 3.615546218487395],
 [525, 3.1904761904761907],
 [526, 2.5],
 [527, 4.510416666666667],
 [528, 2.514705882352941],
 [529, 3.977777777777778],
 [530, 3.5],
 [531, 3.769230769230769],
 [532, 3.0488431876606685],
 [533, 2.7339901477832513],
 [534, 3.835664335664336],
 [535, 3.8172757475083055],
 [536, 3.1636363636363636],
 [537, 3.077294685990338],
 [538, 3.8222222222222224],
 [539, 3.760649087221095],
 [540, 2.2189349112426036],
 [541, 4.273333333333333],
 [542, 2.674757281553398],
 [543, 3.3841642228739004],
 [544, 2.643410852713178],
 [545, 2.0],
 [546, 1.8742857142857143],
 [547, 2.879032258064516],
 [548, 2.5474452554744524],
 [549, 3.821656050955414],
 [550, 3.0168539325842696],
 [551, 3.717871485943775],
 [552, 3.2400756143667295],
 [553, 3.8734177215189876],
 [554, 2.6153846153846154],
 [555, 3.9285714285714284],
 [556, 4.2272727272727275],
 [557, 4.5],
 [558, 2.7037037037037037],
 [559, 3.0],
 [560, 3.625],
 [561, 3.6153846153846154],
 [562, 3.799163179916318],
 [563, 3.235294117647059],
 [564, 2.2666666666666666],
 [565, 3.1311475409836067],
 [566, 2.923076923076923],
 [567, 3.5714285714285716],
 [568, 3.857142857142857],
 [569, 2.93],
 [570, 3.217391304347826],
 [571, 3.588235294117647],
 [572, 3.0],
 [573, 3.5238095238095237],
 [574, 3.4457142857142857],
 [575, 2.822429906542056],
 [576, 3.0],
 [577, 2.963636363636364],
 [578, 4.5],
 [579, 2.0],
 [580, 3.2419354838709675],
 [581, 4.049645390070922],
 [582, 3.0],
 [583, 3.6785714285714284],
 [584, 4.0],
 [585, 2.9066985645933014],
 [586, 3.1348148148148147],
 [587, 3.49644128113879],
 [588, 3.788304959289415],
 [589, 4.058512646281616],
 [590, 3.9152308752584424],
 [591, 2.0],
 [592, 3.6009783368273935],
 [593, 4.3518231186966645],
 [594, 3.8453473132372213],
 [595, 3.8858490566037736],
 [596, 3.751004016064257],
 [597, 3.641491395793499],
 [598, 4.25],
 [599, 4.087121212121212],
 [600, 3.0],
 [601, 3.0],
 [602, 4.121951219512195],
 [603, 3.0],
 [605, 3.314159292035398],
 [606, 2.225806451612903],
 [607, 2.0],
 [608, 4.254675686430561],
 [609, 2.7761194029850746],
 [610, 3.546925566343042],
 [611, 2.4722222222222223],
 [612, 2.4050632911392404],
 [613, 3.6341463414634148],
 [614, 2.6666666666666665],
 [615, 4.044776119402985],
 [616, 3.352517985611511],
 [617, 3.6470588235294117],
 [618, 2.111111111111111],
 [619, 2.59375],
 [621, 3.7142857142857144],
 [623, 3.0],
 [624, 4.0],
 [626, 2.263157894736842],
 [627, 3.603305785123967],
 [628, 3.8969072164948453],
 [630, 2.857142857142857],
 [631, 2.08],
 [632, 4.0],
 [633, 3.6],
 [634, 1.6666666666666667],
 [635, 3.6233766233766236],
 [637, 2.5428571428571427],
 [638, 3.210526315789474],
 [639, 2.6153846153846154],
 [640, 2.676056338028169],
 [641, 1.0],
 [642, 2.0],
 [643, 2.0],
 [644, 2.0],
 [645, 3.6],
 [647, 3.5532879818594103],
 [648, 3.432874918140144],
 [649, 4.1875],
 [650, 3.4719101123595504],
 [651, 2.0],
 [652, 2.888888888888889],
 [653, 3.2254901960784315],
 [655, 1.0],
 [656, 2.5641025641025643],
 [657, 3.0],
 [658, 3.0],
 [659, 3.72],
 [660, 1.5],
 [661, 3.4647619047619047],
 [662, 2.984375],
 [663, 3.4166666666666665],
 [664, 3.0],
 [665, 3.657142857142857],
 [666, 3.3333333333333335],
 [667, 2.0425531914893615],
 [668, 4.404255319148936],
 [669, 4.173913043478261],
 [670, 4.410714285714286],
 [671, 3.6798245614035086],
 [672, 2.0],
 [673, 2.619893428063943],
 [674, 3.0155440414507773],
 [678, 4.245098039215686],
 [679, 3.5],
 [680, 3.359375],
 [681, 3.933333333333333],
 [682, 3.5],
 [684, 1.0],
 [685, 3.3],
 [687, 3.0],
 [688, 2.276995305164319],
 [690, 2.0],
 [691, 3.0991735537190084],
 [692, 2.1132075471698113],
 [694, 2.645390070921986],
 [695, 3.1777777777777776],
 [696, 3.25],
 [697, 2.552941176470588],
 [698, 2.2],
 [700, 3.3241379310344827],
 [701, 4.0],
 [702, 3.6666666666666665],
 [703, 1.6],
 [704, 2.3095238095238093],
 [705, 3.8333333333333335],
 [706, 2.5],
 [707, 3.0872727272727274],
 [708, 3.434462444771723],
 [709, 3.0416666666666665],
 [710, 2.3333333333333335],
 [711, 2.5],
 [712, 3.5],
 [714, 3.888888888888889],
 [715, 3.6153846153846154],
 [716, 2.6785714285714284],
 [717, 4.0],
 [718, 3.484848484848485],
 [719, 2.8619246861924688],
 [720, 4.426940639269406],
 [722, 3.814814814814815],
 [724, 3.0865384615384617],
 [725, 2.791208791208791],
 [726, 3.0],
 [728, 3.7649769585253456],
 [729, 3.6666666666666665],
 [730, 1.0],
 [731, 2.851063829787234],
 [732, 2.8333333333333335],
 [733, 3.723134328358209],
 [734, 3.0],
 [735, 3.3564356435643563],
 [736, 3.1738738738738737],
 [737, 2.03],
 [741, 4.089171974522293],
 [742, 2.528735632183908],
 [743, 2.5700934579439254],
 [744, 2.0],
 [745, 4.52054794520548],
 [746, 4.0],
 [747, 2.0],
 [748, 3.1510791366906474],
 [749, 2.75],
 [750, 4.4498902706656915],
 [751, 3.533333333333333],
 [753, 3.15625],
 [754, 2.923076923076923],
 [755, 3.7777777777777777],
 [756, 3.0],
 [757, 3.75],
 [758, 4.0],
 [759, 4.101694915254237],
 [760, 3.515151515151515],
 [761, 2.7886178861788617],
 [762, 2.184563758389262],
 [763, 3.0],
 [764, 3.27027027027027],
 [765, 2.6315789473684212],
 [766, 3.57],
 [767, 3.2083333333333335],
 [769, 3.25],
 [771, 3.7777777777777777],
 [774, 4.0],
 [775, 3.2222222222222223],
 [776, 3.0],
 [778, 3.9600532623169107],
 [779, 2.6923076923076925],
 [780, 3.5104046242774567],
 [781, 3.378640776699029],
 [782, 2.5517241379310347],
 [783, 3.223076923076923],
 [784, 2.72987012987013],
 [785, 3.4784313725490197],
 [786, 3.123913043478261],
 [787, 5.0],
 [788, 2.9957805907172994],
 [789, 3.0],
 [790, 3.0],
 [791, 3.5],
 [792, 4.0],
 [793, 2.6],
 [796, 3.3333333333333335],
 [798, 2.7058823529411766],
 [799, 3.3491124260355027],
 [800, 4.082539682539682],
 [801, 3.0991735537190084],
 [802, 3.496487119437939],
 [803, 3.6842105263157894],
 [804, 2.9785407725321886],
 [805, 3.5901162790697674],
 [806, 3.1666666666666665],
 [807, 3.0],
 [808, 3.395348837209302],
 [809, 2.5714285714285716],
 [810, 1.4666666666666666],
 [811, 3.888888888888889],
 [813, 2.5106382978723403],
 [814, 3.0],
 [815, 2.0],
 [818, 2.560846560846561],
 [820, 3.25],
 [821, 2.0],
 [823, 3.25],
 [824, 3.9285714285714284],
 [826, 1.0],
 [827, 3.0],
 [828, 2.9074074074074074],
 [829, 2.2900763358778624],
 [830, 2.952542372881356],
 [831, 3.85],
 [832, 3.478723404255319],
 [833, 2.1794871794871793],
 [834, 2.0],
 [835, 3.1262135922330097],
 [836, 2.654008438818565],
 [837, 3.477064220183486],
 [838, 3.8802395209580838],
 [839, 2.214814814814815],
 [840, 2.56],
 [841, 3.4],
 [842, 2.589403973509934],
 [843, 1.0],
 [844, 3.5714285714285716],
 [846, 3.736842105263158],
 [847, 1.8571428571428572],
 [848, 3.4358974358974357],
 [849, 2.5107632093933465],
 [850, 3.6666666666666665],
 [851, 3.4960629921259843],
 [852, 3.221138211382114],
 [853, 4.0],
 [854, 3.625],
 [858, 4.524966261808367],
 [859, 2.0],
 [860, 3.6],
 [861, 3.5128205128205128],
 [862, 3.6451612903225805],
 [863, 3.5],
 [864, 3.5833333333333335],
 [865, 2.0],
 [866, 3.8234265734265733],
 [867, 2.2083333333333335],
 [868, 3.0],
 [869, 3.0952380952380953],
 [870, 2.183673469387755],
 [872, 3.0],
 [874, 3.125],
 [875, 3.3863636363636362],
 [876, 2.857142857142857],
 [877, 3.2916666666666665],
 [878, 4.0],

In [104]:
#1부터 50까지의 정수 중 3의 배수만 있는 1차원 배열을 만드세요.
ar = np.arange(0, 50, 3)
#print(ar)

#5x5 단위 행렬(identity matrix)을 만들고, 대각선 원소를 모두 7로 바꾸세요.
ar1 = np.random.randint(50, 100, size=(5,5))
for i in range(0, 5, 1):
    ar1[i, i] = 7

for i in range(0, 5, 1):
    ar1[i, 4-i] = 7
#print(ar1)

#랜덤으로 4x4 배열을 생성하고, 행 단위 합과 열 단위 합을 구하세요.
ar2 = np.random.randint(50,100, size=(4,4))
value_row = 0
value_col = 0
row_sum = []
col_sum = []

for i in range(0,4,1):
    for j in range(0,4,1):
        value_row += ar2[i][j]
    row_sum.append(value_row)
    value_row = 0

for j in range(0,4,1):
    for i in range(0,4,1):
        value_col += ar2[i][j]
    col_sum.append(value_col)
    value_col = 0

#print(ar2)
#print(row_sum)
#print(col_sum)

#0~15까지 숫자로 4x4 배열을 만들고, 2차 대각선(왼쪽 위 → 오른쪽 아래)을 출력하세요.
ar3 = np.arange(0, 16, 1)
ar3 = ar3.reshape(4,4)

for i in range(0, 4, 1):
    print(ar3[i][i], end=' ')

#-10~10 사이의 랜덤 실수 10개를 생성하고, 양수만 골라 절댓값을 계산하세요.
ar4 = np.random.randint(-10, 10, size=10)
ar4_ = ar4[ar4 > 0]
#print(ar4_)

#2x3 배열과 3x2 배열을 곱하여 2x2 배열을 만드세요.
ar5 = np.random.randint(0, 10, size=(2,3))
ar5_ = np.random.randint(0, 10, size=(3,2))
ar5_final = np.dot(ar5, ar5_)
#print(ar5_final) #선형대수 기존 베이스 이론에 대한 지식 필요

#1~100 사이 랜덤 정수 20개를 생성하고, 중복된 값은 제거한 배열을 만드세요.
ar6 = np.random.randint(1, 10, size=20)
ar6_element = []

for i in range(len(ar6)):
    for j in range(i):
        if ar6[i] == ar6[j]:
            break
    else:
        ar6_element.append(ar6[i])
#print(ar6_element)

#0~1 사이의 랜덤 실수 10개를 생성하고, 원소를 오름차순으로 정렬하세요.
ar7 = np.random.random(10)
ar7.sort()

#10x10 배열을 만들고, 배열의 가장자리 원소는 1, 나머지는 0으로 채우세요.
ar8 = np.zeros(100)
ar8_ = ar8.reshape(10,10)
list8 = [0, -1]

for i in list8:
    ar8_[i,:] = 1
    ar8_[:,i] = 1
    
#1~9로 구성된 3x3 배열을 만들고, 각 원소의 제곱근으로 이루어진 배열을 만드세요.

In [261]:
ar9 = np.arange(1, 10)
ar9_ = ar9.reshape(3,3)

In [263]:
ar99 = []
for i in np.size(ar9_):

TypeError: array() missing required argument 'object' (pos 0)

In [266]:
np.size(ar9_)

9

In [262]:
print(ar9_)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [156]:
a = np.arange(1, 51, 1)
a = a.reshape(5, 10)
a

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]])

In [157]:
print(a[1:4, 4:9])

[[15 16 17 18 19]
 [25 26 27 28 29]
 [35 36 37 38 39]]

In [158]:
print(a[:, 1::2])

[[ 2  4  6  8 10]
 [12 14 16 18 20]
 [22 24 26 28 30]
 [32 34 36 38 40]
 [42 44 46 48 50]]

In [174]:
a = np.arange(1, 51, 1)
a = a.reshape(5, 10)
b = a[2:, :][a[2:, :] % 3 == 0]

In [175]:
b

array([21, 24, 27, 30, 33, 36, 39, 42, 45, 48])

In [1]:
import pandas as pd

In [2]:
#시리즈 생성
pop = pd.Series([9901232, 3441423, 2891323, 2462123])

In [3]:
#인덱스 각각에 이름 부여하자
pop.index = ['서울', '부산', '인천', '대구']
pop

서울    9901232
부산    3441423
인천    2891323
대구    2462123
dtype: int64

In [9]:
pop[1:3]

부산    3441423
인천    2891323
dtype: int64

In [14]:
pop[pop<3000000]

인천    2891323
대구    2462123
dtype: int64

In [19]:
pop[(pop < 5000000) & (pop > 2500000)]

부산    3441423
인천    2891323
dtype: int64

In [20]:
#데이터 변환
pop['부산'] = 3400000

In [23]:
pop

서울    9901232
부산    3400000
인천    2891323
대구    2462123
대전    2400000
dtype: int64

In [22]:
#데이터 추가
#기존에 입력한 적 없는 인덱스에 데이터를 넣어줌
pop['대전'] = 2400000

In [ ]:
del pop['서울']

In [40]:
###딕셔너리를 이용해서 데이터프레임 만들기
data = {'서울' : [9904312, 9631482],
       '부산' : [3448737, 3393191],
       '인천' : [2890451, 2632035],
       '대구' : [2466052, 2431774]}

ind = ['2015', '2010']
pop = pd.DataFrame(data, index=ind)

In [41]:
pop

           서울       부산       인천       대구
2015  9904312  3448737  2890451  2466052
2010  9631482  3393191  2632035  2431774

In [42]:
# 리스트를 이용해서 데이터프레임 생성
data = [[9904312, 3448737, 2890451, 2466052],
       [9631482, 3393191, 2632035, 2431774]]
ind = ['2015','2010']
col = ['서울', '부산','인천','대구']

pop = pd.DataFrame(data, index=ind, columns=col)

In [43]:
pop

           서울       부산       인천       대구
2015  9904312  3448737  2890451  2466052
2010  9631482  3393191  2632035  2431774

In [36]:
pop.rename(index={'2015':'2016', '2010':'2011'}, columns={'서울':'서울시', '부산':'부산시'})

In [44]:
pop = pop.T

In [45]:
pop['2015'] = [9900000,3450000,2890000, 2470000]

In [47]:
pop['2005'] = [1,2,3,4]

In [49]:
pop.drop('2005', axis=1, inplace=True)

In [52]:
pop['2015'] = [9904312, 3448737, 2890451, 2466052]

In [55]:
pop

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

In [59]:
#df의 형태 확인
pop.shape

(4, 2)

In [61]:
#df의 데이터값 확인
pop.values

#df의 컬럼명 확인
pop.columns

array([[9904312, 9631482],
       [3448737, 3393191],
       [2890451, 2632035],
       [2466052, 2431774]])

In [62]:
#df의 인덱스값 확인
pop.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [63]:
#df의 컬럼명 확인
pop.columns

Index(['2015', '2010'], dtype='object')

In [64]:
###딕셔너리를 이용해서 데이터프레임 만들기
data = {'키' : [175.3, 180.2, 178.6],
       '몸무게' : [66.2, 78.9, 55.1],
       '나이' : [27.0, 49.0, 35.0]}

ind = ['홍길동', '김사또', '임꺽정']
pop = pd.DataFrame(data, index=ind)

In [65]:
pop

         키   몸무게    나이
홍길동  175.3  66.2  27.0
김사또  180.2  78.9  49.0
임꺽정  178.6  55.1  35.0

In [66]:
pop.T

       홍길동    김사또    임꺽정
키    175.3  180.2  178.6
몸무게   66.2   78.9   55.1
나이    27.0   49.0   35.0

In [67]:
###딕셔너리를 이용해서 데이터프레임 만들기
data = {'서울' : [9904312, 9631482],
       '부산' : [3448737, 3393191],
       '인천' : [2890451, 2632035],
       '대구' : [2466052, 2431774]}

ind = ['2015', '2010']
pop = pd.DataFrame(data, index=ind)

In [69]:
pop = pop.T

In [70]:
pop

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

In [71]:
pop2 = pop + 1000000
pop3 = pop2 - pop

In [72]:
pop3

       2015     2010
서울  1000000  1000000
부산  1000000  1000000
인천  1000000  1000000
대구  1000000  1000000

In [75]:
score_data = pd.read_csv("data/score.csv", encoding='euc-kr', index_col = 0)
score_data

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [77]:
score_data[['1반', '3반']]

    1반  3반
과목
수학  45  73
영어  76  45
국어  47  45
사회  92  85
과학  11  47

In [79]:
score_data['수학':'수학']

    1반  2반  3반  4반
과목
수학  45  44  73  39

In [80]:
score_data[0:1]

    1반  2반  3반  4반
과목
수학  45  44  73  39

In [81]:
#loc
score_data

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [83]:
score_data.loc['과학']

1반    11
2반    79
3반    47
4반    26
Name: 과학, dtype: int64

In [86]:
score_data.loc[: ,['4반', '1반']]

    4반  1반
과목
수학  39  45
영어  69  76
국어  69  47
사회  40  92
과학  26  11

In [88]:
score_data.iloc[4]

1반    11
2반    79
3반    47
4반    26
Name: 과학, dtype: int64

In [89]:
score_data.iloc[4, 3]

26

In [91]:
score_data.iloc[2:4, 2]

과목
국어    45
사회    85
Name: 3반, dtype: int64

In [92]:
score_data.iloc[[0,3], 0:2]

    1반  2반
과목
수학  45  44
사회  92  81